* {
  font-family: "FiraCode Nerd Font";
  font-size: 18px;
  border: none;
  min-height: 0;
  transition: background-color 120ms ease, color 120ms ease;
}

window#waybar { background: transparent; }

#waybar > box {
  background: #2e3440;
  color: #eceff4;
  border-radius: 16px;
  margin: 6px 80px;
  padding: 6px 10px;
  outline: 3px solid #4c566a;
}

#workspaces { margin: 0 6px; }

#workspaces button {
  padding: 0 12px;
  margin: 2px;
  background: transparent;
  color: #d8dee9;
  border-radius: 8px;
}

#workspaces button.active { background: #88c0d0; color: #2e3440; }

#submap {
  padding: 0 12px;
  margin: 2px;
  background: #bf616a;
  color: #eceff4;
  font-weight: bold;
  border-radius: 10px;
}

#clock {
  font-weight: bold;
  padding: 0 14px;
  margin: 2px;
  border-radius: 10px;
}

#custom-record {
  background: #bf616a;
  color: #eceff4;
  padding: 0 10px;
  margin: 2px;
  border-radius: 10px;
  font-weight: bold;
}

#bluetooth,
#pulseaudio,
#custom-mic,
#custom-usb,
#battery,
#backlight {
  padding: 0 10px;
  margin: 0;
  border-radius: 10px;
  min-width: 36px;
}

#custom-mic { min-width: 30px; }

#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-mic:hover,
#backlight:hover,
#battery:hover,
#custom-usb:hover {
  background:#3b4252;
}

#network { padding: 0 10px; margin: 0; border-radius: 10px; }
#network.wifi        { background: #88c0d0; color: #4c566a; }
#network.ethernet    { background: #5e81ac; color: #eceff4; }
#network.disconnected{ background: #bf616a; color: #eceff4; }

#bluetooth { background: #3b4252; color: #eceff4;}
#bluetooth.connected { background: #6fa3a1; color: #eceff4;}

#pulseaudio:not(.muted),
#custom-mic:not(.muted),
#backlight {
  background: #434c5e;
  color: #eceff4;
}

#pulseaudio.muted,
#custom-mic.muted,
#battery.critical {
  background: #bf616a;
  color: #eceff4;
}

#battery.charging { background: #ebcb8b; color: #2e3440; }
#battery.warning  { background: #d08770; color: #2e3440; }

#custom-usb { background: #81a1c1; color: #eceff4; }
